{% extends "base.html" %}

{% block title %}Admin Panel{% endblock title %}

{% block menu %}
<div class="dropdown-menu dropdown-menu-end dropdown-menu-start-md">
    <li><a class="dropdown-item" href="/about">About</a></li>
    <li><a class="dropdown-item" href="/terms">Terms &amp; Conditions</a></li>
    <div class="dropdown-divider"></div>
    <li><a class="dropdown-item" href="/logout">Log out</a></li>
  </div>
{% endblock menu %}

{% block content %}
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <br><br>
        <div class="bg-primary-subtle text-black rounded-3 p-2 m-2">
            <h3 class="text-center m-2">Welcome, Administrator{% if user %} {{user}}{% endif %}!</h3>
            <hr>
            
        </div>
    </div>
    <div class="col-1"></div>
  </div>
{% endblock content %}